
.navbar.navbar-fixed-top
      .navbar-inner
        .container
        
          
          a.brand(href='/') studIO
        
          ul.nav
            li.active
              a(href='/') Hem
            
            li
              a(href='/courses') Kurser
              
            form.navbar-search.pull-left
              input.search-query(type='text', placeholder='Sök...')
              
              
          ul.nav.pull-right
            li
              a(href='features') studIO++