extends layout

block content
  
  .container
    .row
      .span8.offset2
        
        table.table.table-striped
          thead
            tr
              th Kurskod
              th Namn
              th Poäng
          tbody
            each course in courses
              tr 
                td #{course.code}
                td #{course.name}
                td #{course.points}