extends layout

block content
  
  .container
    .row
      .span8.offset2
        
        table.table.table-striped
          thead
            tr
              th Kurskod
              th Namn
              th Poäng
              th Betyg
          tbody
            each course in courses
              tr 
                td 
                  a(href='courses/#{course.code}') #{course.code}
                td #{course.name}
                td #{course.points}
                td.course-rating-column
                  i.icon-star
                  i.icon-star
                  i.icon-star
                  i.icon-star-empty
                  i.icon-star-empty