extends layout

block append scripts
    script(type='text/javascript', src='/javascripts/bootstrap-button.js')
    script(type='text/javascript', src='/javascripts/feature.js')
   

block content

  .container
    .row
      .span10.offset1

        .hero-unit
      
          h1 studIO
          
          blockquote 
            p Det bästa som hänt sedan skivat bröd!
            small Anonym student
            
            
        .hero-unit.feature-golden
        
          h1 studIO++
          
          p Håll utkik efter den här lilla grön-röda kontrollen:
          
            .btn-group.span6.offset2
              a.btn.btn-danger.toggle.feature-vote-down(href='#')
                i.icon-minus.icon-white
              a.btn(href='#').feature-votes.disabled
                b 0
              a.btn.btn-success.toggle.feature-vote-up(href='#')
                i.icon-plus.icon-white  
          
          p Där du ser den har du chans att påverka vilken ny funktionalitet vi arbetar med för tillfället till studIO!
          
        .hero-unit.hero-blue
        
          h1 Ninja-Guru-Astronaut?
          
          p Vi söker efter fler superhjältar som vill hjälpa till att utveckla studIO!
          
          a.btn.btn-primary(hred='#') Läs mer...
        